<!--Section Header -->
    <div class="bg-red-400 p-4 rounded-full">
      <p class="font-sans text-2xl md:block block text-white text-center px-4 py-2">About Us</p>
    </div>
<div class="flex flex-col justify-center sm:px-6 lg:px-8">
  <div class="mx-auto w-full max-w-3xl">
    <!-- <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
      About Us
    </h2> -->
    <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
      Launched in May 2020 by a group of University of Georgia Students in response
      to local nonprofits’ increased need for volunteers as they build up capacity
      to support the community during COVID-19 and the ongoing economic crisis,
      <%= CITY_NAME %> Help With COVID is a partnership platform where nonprofits can
      efficiently recruit volunteers in the Greater <%= CITY_NAME %> area for in-person
      <u>and</u> remote opportunities.
    </p>
    <p class="mt-4 text-center text-sm leading-5 text-gray-600 max-w">
      If you are a <%= CITY_NAME %> nonprofit interested in learning more about
      how our platform can best support you, contact us at
      <%= mail_to AFFILIATE_EMAIL, nil, target: '_blank', class: 'text-' + @primary_color + '-500' %>.
      We send out regular newsletters to our volunteers about the latest opportunities,
      and our team is happy to provide custom support for your organization—from
      posting opportunities and collecting applications to targeted recruiting.
    </p>
    <p class="mt-4 text-center text-sm leading-5 text-gray-600 max-w">
      We believe good tools should be shared. In fact, <%= CITY_NAME %> Help With COVID was made possible by our friends
      at <a href="http://www.newhavenhelpwithcovid.com/" class="text-<%=PRIMARY_COLOR %>-500">New Haven Help With COVID</a>. If you are currently outside of <%= CITY_NAME %> and think that your
      local community could use a partnership platform like ours, reach out to us at
      <%= mail_to AFFILIATE_EMAIL, nil, target: '_blank', class: 'text-' + @primary_color + '-500' %> or
      our affiliates at <%= mail_to 'newhavenpandemic@gmail.com', nil, target: '_blank', class: 'text-' + @primary_color + '-500' %>.
      We are happy to discuss about sharing code and best practices.
    </p>
    <p class="mt-4 mb-4 text-center text-sm leading-5 text-gray-600 max-w">
      Credits to
      <%= link_to 'HelpWithCovid.com', 'https://helpwithcovid.com/', target: '_blank', class: 'text-' + @primary_color + '-500' %>
      for the general template for this website.
    </p>
  </div>

  <!--Section Header -->
  <div class="bg-red-400 p-4 rounded-full">
  <p class="font-sans text-2xl md:block block text-white text-center px-4 py-2">Our Team</p>
</div>
  
  <!--Volunteer Grid -->

  <div class="container text-center mx-auto pt-8">
  <div class="relative grid grid-cols-3 md:grid-cols-3 gap-x-40 gap-y-40 text-sm">
  <!--vertical code to add to the outer div of each persons image is transform translate-x-16 -->
  <div class=" flex-grow rounded-full bg-no-repeat bg-center bg-red-400 w-80 h-80 items-center  ">
      <img class="mt-10 rounded-full h-60 mt-6 w-60 md:w-64 relative inline-flex items-center bg-center bg-gray-400 " src="/images/Camden.jpeg">
      <div class=" font-bold text-lg md:text-2xl transform translate-y-12">Camden Rogers</div>
      <div class="text-md md:text-lg sm:px-1 transform translate-y-12">Platform Manager, Lead Web Developer</div>
   </div>
    
   <div class="flex-grow rounded-full bg-no-repeat bg-center bg-red-400 w-80 h-80 items-center ">
      <img class="mt-10 rounded-full h-60 mt-6 w-60 md:w-64 relative inline-flex items-center bg-center bg-gray-400 " src="/images/Clayton.jpeg">
      <div class=" font-bold text-lg md:text-2xl transform translate-y-12">Clayton A. Seals II</div>
      <div class="text-md md:text-lg sm:px-1 transform translate-y-12">Deputy Developer</div>
   </div>
   
   
    <div class="flex-grow rounded-full bg-no-repeat bg-center bg-red-400 w-80 h-80 items-center  ">
      <img class="mt-10 rounded-full h-60 mt-6 w-60 md:w-64 relative inline-flex items-center bg-center bg-gray-400 " src="/images/Clayton.jpeg">
      <div class=" font-bold text-lg md:text-2xl transform translate-y-12">Clayton A. Seals II</div>
      <div class="text-md md:text-lg sm:px-1 transform translate-y-12">Deputy Developer</div>
   </div>
    
    <div class="flex-grow rounded-full bg-no-repeat bg-center bg-red-400 w-80 h-80 items-center  ">
      <img class="mt-10 rounded-full h-60 mt-6 w-60 md:w-64 relative inline-flex items-center bg-center bg-gray-400 " src="/images/Clayton.jpeg">
      <div class=" font-bold text-lg md:text-2xl transform translate-y-12">Clayton A. Seals II</div>
      <div class="text-md md:text-lg sm:px-1 transform translate-y-12">Deputy Developer</div>
    </div>

    <div class="flex-grow rounded-full bg-no-repeat bg-center bg-red-400 w-80 h-80 items-center  ">
      <img class="mt-10 rounded-full h-60 mt-6 w-60 md:w-64 relative inline-flex items-center bg-center bg-gray-400 " src="/images/Clayton.jpeg">
      <div class=" font-bold text-lg md:text-2xl transform translate-y-12">Clayton A. Seals II</div>
      <div class="text-md md:text-lg sm:px-1 transform translate-y-12">Deputy Developer</div>
    </div>

    <div class="flex-grow rounded-full bg-no-repeat bg-center bg-red-400 w-80 h-80 items-center  ">
      <img class="mt-10 rounded-full h-60 mt-6 w-60 md:w-64 relative inline-flex items-center bg-center bg-gray-400 " src="/images/Clayton.jpeg">
      <div class=" font-bold text-lg md:text-2xl transform translate-y-12">Clayton A. Seals II</div>
      <div class="text-md md:text-lg sm:px-1 transform translate-y-12">Deputy Developer</div>
   </div>

      <br> 

  </div>  <!--grid -->
  </div> <!--container -->

  <!--Section Header -->
  <div class="bg-red-400 p-4 rounded-full">
  <p class="font-sans text-2xl md:block block text-white text-center px-4 py-2">Thank you to all volunteers!</p>
</div>


<!--Commented out old Thank you message below -->


<!--<div class="sm:mx-auto sm:w-full sm:max-w-lg">
    <h2 class="pb-15 mt-8 text-center text-3xl leading-9 font-extrabold text-gray-900">
      Thank you to all volunteers!
    </h2>
  </div> -->


</div> <!--end of about page -->
