<!-- Hero -->
<div class="bg-white -mt-10 pt-24 ">
  <div class="container mb-4 text-center mb-24">
    <h1 class="text-4xl font-bold tracking-tight leading-tight">
      <%= @projects_header %>
    </h1>
    <h2 class="text-2xl tracking-tight leading-tight mt-2">
      <%= @projects_subheader %>
    </h2>
  </div>
</div>

<!-- Featured projects -->
<div class="container text-center mb-24">
  <div class="relative grid grid-cols-2 gap-2 text-sm">
    <div>
      <div class="font-bold text-lg">For volunteers</div>
      <div class="mt-1">
        <%= link_to projects_path do %>
          <button type="button" class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700" style="font-size: larger">
            See all <%= @project_count_total %> projects
          </button>
        <% end %>
      </div>
    </div>
    <div>
      <div class="font-bold text-lg">For organizations</div>
      <div class="mt-1">
        <%= link_to new_project_path do %>
          <button type="button" class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700" style="font-size: larger">
            Create volunteer position
          </button>
        <% end %>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Project categories -->
<div class="container">
  <% cache @project_categories do %>
    <%= render partial: 'project-category', collection: @project_categories, as: :category %>
  <% end %>
</div>
